@font-face {
    font-family: "HYWenHei-55W";
    src: url("../../font/HYWenHei-55W.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'HYWenHei-55W';
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../../../data/system/cachedImg/cardBg.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: 0; /* 确保body在底层 */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: rgba(0, 0, 0, 0.42); /* 调整透明度以改变暗度 */
    pointer-events: none; /* 防止遮罩层影响鼠标事件 */
    z-index: -1; /* 将遮罩层放在背景图之上，其他内容之下 */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* 添加半透明黑色背景以突出文字 */
}

.head-box {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.label {
    font-size: 14px;
    color: white;
}

.cont-box {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    background: rgba(62, 62, 62, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 2px 0 6px 20px;   
}

.help-group {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px 10px 20px;
    display: inline-block;
    color: white;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.item {
    width: 235px;
    display: flex;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 0 #ccc, 2px 2px 4px 0 rgba(50, 50, 50, 0.8);
    padding: 8px;
    border-radius: 8px;
    margin: 0 0px 10px 10px;
}

.icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.text {
    font-size: 22px;
    line-height: 24px;
    color: white;
}

.dec {
    font-size: 12px;
    margin-top: 2px;
    color: #ccc;
}

.copyright {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
