@font-face {
    font-family: "MiSans-Normal";
    src: url("../../font/MiSans-Normal.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HYWenHei-55W";
    src: url("../../font/HYWenHei-55W.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: MiSans-Normal;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../../data/system/cachedImg/cardBg.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;  /* 确保body在底层 */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.42);  /* 调整透明度以改变暗度 */
    pointer-events: none;  /* 防止遮罩层影响鼠标事件 */
    z-index: -1;  /* 将遮罩层放在背景图之上，其他内容之下 */
}

.container {
    width: 745px;
    padding: 20px 15px 10px 15px;
}

.head-box {
    margin: 60px 0 0 0;
    padding-bottom: 0;
}

.head-box .title {
    font-size: 50px;
    font-family: HYWenHei-55W;
    color: white;
}

.head-box .label {
    font-family: HYWenHei-55W;
    color: white;
}

.cont-box {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    background: rgba(62, 62, 62, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 15px;
}

.help-group {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px 10px;
    display: inline-block;
    color: white;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.mr-4 {
    margin-right: 4px;
}

.mr-12 {
    margin-right: 12px;
}

.pd-16 {
    padding: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

div, body {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

span, div {
    word-break: break-word;
    vertical-align: middle;
}

.text-12 {
    font-size: 12px;
    line-height: 20px;
}

.text-14 {
    font-size: 14px;
    line-height: 22px;
}

.flex {
    display: flex;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

.game-box-container[data-v-08c4bfda] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 710px;
    height: 304px;
}

.pns .game-box[data-v-08c4bfda] {
    width: 662px;
    height: 256px;
    background: url(../../img/common/bg/game-box-pns-02781a5b.png);
    background-size: 100% 100%;
}

.game-box[data-v-08c4bfda] {
    position: absolute;
    font-size: 16px;
    color: #fff;
    flex: 1;
}

.game-box-header .icon[data-v-08c4bfda] {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.game-box-header .role-info[data-v-08c4bfda] {
    flex: 1;
}

.game-box-header .role-info .name[data-v-08c4bfda] {
    font-weight: 700;
}

.game-box-header .role-info .level[data-v-08c4bfda] {
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 4px;
    color: #fff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .32) 100%);
    border: .4px solid rgba(255, 255, 255, .5);
    border-radius: 2px;
}

.game-box-header .role-info .show[data-v-08c4bfda] {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.game-box-header .sub-info[data-v-08c4bfda] {
    color: #aeb6c2;
    font-weight: 400;
    opacity: .5;
}

.game-box-footer[data-v-08c4bfda] {
    display: flex;
    justify-content: space-between;
}

.game-box-footer .item[data-v-08c4bfda] {
    flex: 1;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #8c95a3;
}

.game-box-footer .item .number[data-v-08c4bfda] {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}

.game-box-footer .item .title[data-v-08c4bfda] {
    width: 100%;
    color: #8c95a3;
    font-weight: 400;
    text-align: center;
}

.better-checkbox:checked {
    border: none;
    background: #1673ff;
}

.better-checkbox {
    width: 16px;
    height: 16px;
    border: solid 1.5px #dddddd;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 4px;
    position: relative;
    appearance: none;
}

.better-checkbox:checked::after {
    content: '';
    top: 4px;
    left: 3.5px;
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-top: none;
    border-right: none;
    height: 4px;
    width: 7px;
    transform: rotate(-45deg);
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: HYWenHei-55W;
    margin-top: 20px;
}
