@font-face {
    font-family: "MiSans-Normal";
    src: url("../../font/MiSans-Normal.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HYWenHei-55W";
    src: url("../../font/HYWenHei-55W.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: MiSans-Normal
}

body {
    transform: scale(1);
    width: 725px;
    background: url(../../img/common/bg/Alisa-Echo_0.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(62, 62, 62, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 700px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
.info .name {
    font-size: 16px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
    margin-bottom: 3px;
}
.info .id {
    width: 90px;
    font-size: 11px;
    color: #bbb;
}
.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.stat {
    text-align: center;
    flex: 1;
}
.stat:not(:last-child) {
    border-right: 1px solid #ddd;
}
.stat .number {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.stat .label {
    font-size: 14px;
    color: #bbb;
}

.container {
    width: 745px;
    padding: 20px 15px 10px 15px;
}

.head-box {
    margin: 60px 0 0 0;
    padding-bottom: 0;
}

.head-box .title {
    font-size: 50px;
    font-family: HYWenHei-55W
}

.head-box .label {
    font-family: HYWenHei-55W
}

.cont-box {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    background: rgba(62, 62, 62, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
}

.help-group {
    display: flex;
    align-items: center;
    color: white;
}

.date {
    font-size: 18px;
    width: 60px;
    text-align: center;
}

.avatar-name {
    font-size: 18px;
    width: 80px;
    text-align: right;
    margin-right: 10px;
}

.avatar-count {
    font-size: 18px;
    width: 30px;
    margin-left: 6px;
    z-index: 1;
}

.card-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background: #D48E48;
    z-index: 1;/* 上调层级防止后面的 bar 遮挡 */
}

.bar-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: -50px;
}

.bar {
    height: 26px;
    border-radius: 6px;
    min-width: 80px; /* 设置最小宽度防止文字放不下 */
}

.avatar-isup {
    font-size: 18px;
    color: #FFD381;
    width: 30px;
    align-items: right;
    margin-left: -30px;
    z-index: 1;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: HYWenHei-55W;
    margin-top: 20px;
}
